{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>О нас|Рецепты Майнкрафта</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/"><h2>Minecraft Anchous </h2><a>
            <div id="navigation">
            <a href="/about">О нас</a>
            <a href="/contacts">Контакты</a></div>
        </div>
    </header>
    <main>
        <div class="panel">
            <nav id="kat">
                <button>Первая категория</button>
                <button>Вторая категория</button>
                <button>Третья категория</button>
                <button>Четвертая категория</button>
                <button>Пятая категория</button>
                <button>Шестая категория</button>
                <button>Сельмая категория</button>
                <button>Восьмая категория</button>
                <button>Девятая категория</button>
            </nav>
        </div>
        <div class="main">
            <h1>О нас</h1>
        </div>
    </main>
    <footer>
        <p>“ООО организация Анчоус” любит майнкрафт ❤</p>
        <p>"Minecraft"™ торговый знак Mojang Synergies AB. Мы не имеем отношения к Mojang.</p>
    </footer>
</body>
</html>