{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>О нас|Рецепты Майнкрафта</title>
    <link href="{% static 'css/PIXY.ttf' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/"><h2>Minecraft Anchous </h2><a>
            <div id="navigation">
            <a href="/about">О нас</a>
            <a href="/contacts">Контакты</a></div>
        </div>
    </header>
    <main>
        <div class="panel">
            <nav id="kat">
                <button>Инструменты</button>
                <button>Оружие</button>
                <button>Броня</button>
                <button>Еда и зелья</button>
                <button>Строительные блоки</button>
                <button>Механизмы и транспорт</button>
                <button>Декоративные блоки</button>
                <button>Предметы для фермерства</button>
                <button>Редкие предметы</button>
            </nav>
        </div>
        <div class="contact-container">
            <h1>О нас</h1>
            <p>Наша команда - это группа увлеченных энтузиастов,
            которые объединены общей страстью к Майнкрафта и крафтингу.
            <br>Мы стремимся создать уникальный ресурс, который поможет игрокам
            освоить искусство создания предметов, блоков и инструментов в мире.</p>
            <h1>Наши разработчики</h1>
            <div class="tour">
                <div class="pla">
                    <img src="{% static 'img/1.jpg' %}" class="avatar">
                    <p>Программист и технический специалист. <br>Алина - опытный игрок
                    с более чем 9-летним стажем в Minecraft.разрабатывает функционал <br>сайта,
                    обеспечивая его стабильность и производительность. Он также работает над <br>
                    интеграцией новых инструментов и <br>функций для пользователей. </p>
                </div>
                <div class="pla">
                    <img src="{% static 'img/2.jpg' %}" class="avatar">
                    <p>Главный разработчик и дизайнер. <br>Ангелина - опытный игрок
                    с более<br> чем 10-летним стажем в Minecraft. Он<br> отвечает за создание
                    интуитивно понятного интерфейса и написание <br>подробных гайдов по крафту.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr style="border-top: 15px solid #D59C9C;">  <!-- Толстая линия -->
        <img id="funny" src="{% static 'img/3.jpg' %}">
        <div class="footer">
            <p>“ООО организация Анчоус” любит майнкрафт ❤</p>
            <p>"Minecraft"™ торговый знак Mojang Synergies AB. Мы не имеем отношения к Mojang.</p>
        </div>
    </footer>
    
</body>
</html>