{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Контакты|Рецепты Майнкрафта</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/diary.css' %}">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/"><h2>Minecraft Anchous </h2><a>
            <div id="navigation">
            <a href="/about">О нас</a>
            <a href="/contacts">Контакты</a></div>
        </div>
    </header>
    <main>
        <div class="panel">
            <nav id="kat">
                <button>Инструменты</button>
                <button>Оружие</button>
                <button>Броня</button>
                <button>Еда и зелья</button>
                <button>Строительные блоки</button>
                <button>Механизмы и транспорт</button>
                <button>Декоративные блоки</button>
                <button>Предметы для фермерства</button>
                <button>Редкие предметы</button>
            </nav>
        </div>
        <div class="contact-container">
            <h1>Контакты</h1>
            <p>Мы всегда рады получить от вас отзывы, предложения или вопросы!<br>
            Не стесняйтесь обращаться к нам:</p>
            <p>Электронная почта: <a href="mailto:contact@minecraftcrafting.com">contact@minecraftcrafting.com</a></p>
            <p>Форма обратной связи: Заполните форму на нашем сайте.</p>
            <h1>Социальные сети:</h1>
            <ul class="social-links">
                <li><a class="actia" href="#">Twitter</a></li>
                <li><a class="actia" href="#">Instagram</a></li>
                <li><a class="actia" href="#">Discord</a></li>
            </ul>
            <p>Присоединяйтесь к нашему сообществу, делитесь своими идеями и<br> 
            давайте вместе делать мир Minecraft еще более увлекательным!</p>
        </div>
    </main>
    <footer>
        <hr style="border-top: 15px solid #D59C9C;">  <!-- Толстая линия -->
        <img id="funny" src="{% static 'img/3.jpg' %}">
        <div class="footer">
            <p>“ООО организация Анчоус” любит майнкрафт ❤</p>
            <p>"Minecraft"™ торговый знак Mojang Synergies AB. Мы не имеем отношения к Mojang.</p>
        </div>
    </footer>
    
</body>
</html>