@font-face {
    font-family: 'PIXY';
    src: url('static/css/PIXY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'PIXY Regular', sans-serif;
}
header {
    background-color: #D25454;
    color: white;
    padding: 10px;
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределяем пространство */
    align-items: center; /* Центрируем по вертикали */
}
nav#kat {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 94%;
    height: 94%;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
}
#kat{
    display: flex;
    margin-top: -10px;
}
.panel{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 25px;
    top: 131px;
    left: -50px;
    width: 26%;
    max-height: 69%;
    background-color: #D59C9C;
    border-radius: 15px;
}
nav#kat button {
    font-family: 'PIXY', sans-serif;
    background-color: #D59C9C; /* Начальный цвет кнопки */
    margin: 5px 0px; 
    margin-left: 60px;
    padding: 10px 20px;
    font-size: 16px;
    width: 75%;
    border: none; /* Убираем границу, если она есть */
    color: white; /* Цвет текста кнопки */
    cursor: pointer; /* Курсор как указатель */
    transition: background-color 0.3s; /* Плавный переход цвета */
    border-radius: 10px
    
}
/* Цвет кнопки при наведении */
nav#kat button:hover {
    background-color: #A23434; /* Цвет при наведении */
}

/* Цвет кнопки при нажатии */
nav#kat button:active {
    background-color: #D9D9D9; /* Цвет при нажатии */
}
header a { /* Убираем подчеркивание у ссылок в header */
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white; /* Ссылка будет белого цвета, чтобы привести её в соответствие с цветом текста */
}
#navigation {
    color: white;
    margin: 45px 0px;
    font-size: 18px;
    display: flex; /* Используем flexbox для навигации */
}
#navigation a {
    margin-left: 15px; /* Добавляем отступ между ссылками */
}
div {
    margin-left:-20px;
    text-align: center;
}
main {
    margin-left: 300px;
    display: flex;
    flex-grow: 1; 
    text-align: center;
    padding: 20px;
}
.footer {
    color:white;
    text-align: center;
    padding: 10px;
    background-color: #D25454;
}
.bun{
    width: 800px;
    height: 55px;
    background-color: #D9D9D9;
    padding-top: 15px;
    text-align:center;
    font-size: 30px;
    border-radius: 15px;
}
.mine {
    width: 800px;
    height: 33px;
    background-color: #D59C9C;
    border-radius: 15px;
}
.mine_rice {
    width: 800px;
    height: 420px;
    background-color: #D9D9D9;
    border-radius: 15px;
}
#funny{
    width: 100%;
    height: auto;
    max-height: 330px;
    object-fit: fill;
    display: block;
}
.contact-container {
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы в столбик */
    padding: 20px;
    max-width: 800px; /* Максимальная ширина контейнера */
    min-height: 400px;
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
    text-align: center; /* Центрирует текст внутри контейнера */
    padding: 20px; /* Отступы внутри контейнера */
}
h1 {
    color: #D25454;
    margin-bottom: 10px;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa;
}
p {
    margin-bottom: 10px;
}
.social-links {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}
.social-links li {
    margin-bottom: 5px; /* Отступ между элементами списка */
}
.actia {
    text-decoration: none; /* Убираем подчеркивание */
    color: blue; /* Цвет текста ссылки */
}
.actia:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
.tour {
    display: flex; /* Устанавливаем flex-контейнер */
    align-items: center; /* Центрируем элементы по вертикали */
}
.avatar {
    position: row;
    margin-right: 20px; /* Отступ между изображением и текстом */
    width: 250px; /* Задайте желаемую ширину изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10%; /* Закругляем углы для создания круглой формы */
}
.tour p {
    margin-left: 20px;
    margin-right: 20px;
}
.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); /* Полупрозрачный фон */
}
.modal-content {
    background-color: #ffffff; /* Белый цвет фона */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    text-align: center;
}
.image {
    border-width: 1px;
    border-style: solid; /* Добавлено свойство для отображения границы */
    border-color: #888;
    width: 50px;
    height: 50px;
    margin: 10px 0px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
